<h2 class="CBlanco textCenter">ADAPTADO A TUS NECESIDADES</h2>
<article class="BGAzulFuerte">
    <div>
        <h3 class="CRojoFuerte">1</h3>
        <span>
            <h4 class="CBlanco">Solicitar Cotización.</h4>
            <p class="CBlanco">soluciones alineadas a tu capacidad y mercado objetivo.</p>
        </span>
    </div>
    <div>
        <h3 class="CRojoFuerte">2</h3>
        <span>
            <h4 class="CBlanco">Confirmar pedido y logística.</h4>
            <p class="CBlanco">opciones de importación en contenedores de diferentes tamaños según tu inventario.</p>
        </span>
    </div>
    <div>
        <h3 class="CRojoFuerte">3</h3>
        <span>
            <h4 class="CBlanco">Recepción y soporte.</h4>
            <p class="CBlanco">Asesoramiento continuo: te acompañamos desde la primera cotización hasta la entrega y postventa.</p>
        </span>
    </div>
</article>