<section id="politicas">
    <h1 class="textCenter CAzulFuerte">
        Aviso de Privacidad de Radiadores Deyac
    </h1>
    <h2 class="textCenter CAzulFuerte">
        Motoventiladores - Depósitos de Anticongelante - Post Enfriador - Rines - Rines de equipo pesado - Radiadores de Tractocamiones - Condensadores Automotrices
    </h2>
    <p>
        ROBERTO LOZANO ARMENGOL, mejor conocido como DEYAC RADIATORS, con domicilio en calle Carretera San Luis Potosí - Zacatecas Km 1.7 No. 1030-1, colonia Los Salazares, ciudad San Luis Potosí, municipio o delegación San Luis Potosí, c.p. 78115, en la entidad de San Luis Potosí, país México, y portal de internet www.deyacradiadores.com, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente:
    </p>
    <h2 class="textCenter CAzulFuerte">
        ¿Para qué fines utilizaremos sus datos personales?
    </h2>
        <p>
            Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita:
        </p>
        <ul>
            <li>
                Para confirmar su identidad
            </li>
            <li>
                Para saber su domicilio de entrega de nuestros productos
            </li>
            <li>
                Para realizar transacción bancaria de compra en línea
            </li>
        </ul>
        <p>
            Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita:
        </p>
        <ul>
            <li>
                Para formar expediente de artículos de compra
            </li>
            <li>
                Mercadotecnia o publicitaria
            </li>
            <li>
                Prospección comercial
            </li>
        </ul>
        <p>
            En caso de que no desee que sus datos personales se utilicen para estos fines secundarios, indíquelo a continuación:
        </p>
        <p>
            No consiento que mis datos personales se utilicen para los siguientes fines:
        </p>
        <ul>
            <li>
                [  ] Prospección comercial
            </li>
            <li>
                [  ] Mercadotecnia o publicitaria
            </li>
            <li>
                [  ] Para formar expediente de artículos de compra
            </li>
        </ul>
        <p>
            La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos que solicita o contrata con nosotros.
        </p>
    <h2 class="textCenter CAzulFuerte">
        ¿Qué datos personales utilizaremos para estos fines?
    </h2>
        <p>
            Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:
        </p>
        <ul>
            <li>Nombre</li>
            <li>Registro Federal de Contribuyentes (RFC)</li>
            <li>Clave Única de Registro de Población (CURP)</li>
            <li>Nacionalidad</li>
            <li>Domicilio</li>
            <li>Teléfono particular</li>
            <li>Teléfono celular</li>
            <li>Correo electrónico</li>
            <li>Firma autógrafa</li>
            <li>Puesto o cargo que desempeña</li>
            <li>Domicilio de trabajo</li>
            <li>Correo electrónico institucional</li>
            <li>Teléfono institucional</li>
            <li>Información fiscal</li>
            <li>Historial crediticio</li>
            <li>Cuentas bancarias</li>
            <li>Número de tarjetas de crédito</li>
        </ul>

    <h2 class="textCenter CAzulFuerte">
        ¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?
    </h2>
        <p>
            Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.
        </p>
        <p>
            Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del siguiente medio:
        </p>
        <p>
            soporte@deyac.com.mx
        </p>
        <p>
            Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, ponemos a su disposición el siguiente medio:
        </p>
        <p>
            www.deyac.com.mx
        </p>
        <p>
            Los datos de contacto de la persona o departamento de datos personales, que está a cargo de dar trámite a las solicitudes de derechos ARCO, son los siguientes:
        </p>
        <ul>
            <li>
                a.- Nombre de la persona o departamento de datos personales: Deyac Radiators Departamento de Comerció Electrónico
            </li>
            <li>
                b.- Domicilio: calle Carretera San Luis Potosí - Zacatecas Km 1.7 1030-1, colonia Los Salazares, ciudad San Luis Potosí, municipio o delegación San Luis Potosí, c.p. 78115, en la entidad de San Luis Potosí, país México
            </li>
            <li>
                c.- Correo electrónico: soporte@deyac.com.mx
            </li>
            <li>
                d.- Número telefónico: 4448149010
            </li>
        </ul>
    <h2 class="textCenter CAzulFuerte">
        Usted puede revocar su consentimiento para el uso de sus datos personales
    </h2>
        <p>
            Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.
        </p>
        <p>
            Para revocar su consentimiento deberá presentar su solicitud a través del siguiente medio:
        </p>
        <p>
            soporte@deyac.com.mx
        </p>
        <p>
            Para conocer el procedimiento y requisitos para la revocación del consentimiento, ponemos a su disposición el siguiente medio:
        </p>
        <p>
            Correo Electrónico
        </p>
    <h2 class="textCenter CAzulFuerte">
        ¿Cómo puede limitar el uso o divulgación de su información personal?
    </h2>
        <p>
            Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los siguientes medios:
        </p>
        <p>
            soporte@deyac.com.mx
        </p>
    <h2 class="textCenter CAzulFuerte">
        El uso de tecnologías de rastreo en nuestro portal de internet
    </h2>
        <p>
            Le informamos que en nuestra página de internet utilizamos cookies, web beacons u otras tecnologías, a través de las cuales es posible monitorear su comportamiento como usuario de internet, así como brindarle un mejor servicio y experiencia al navegar en nuestra página. Los datos personales que recabamos a través de estas tecnologías, los utilizaremos para los siguientes fines:
        </p>
        <p>
            Para ofrecimiento de productos afines a los intereses del solicitante
        </p>
        <p>
            Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes:
        </p>
        <ul>
            <li>Identificadores, nombre de usuario y contraseñas de una sesión</li>
            <li>Idioma preferido por el usuario</li>
            <li>Región en la que se encuentra el usuario</li>
            <li>Tipo de navegador del usuario</li>
            <li>Tipo de sistema operativo del usuario</li>
            <li>Fecha y hora del inicio y final de una sesión de un usuario</li>
            <li>Páginas web visitadas por un usuario</li>
            <li>Búsquedas realizadas por un usuario</li>
            <li>Publicidad revisada por un usuario</li>
            <li>Listas y hábitos de consumo en páginas de compras</li>
        </ul>

    <h2 class="textCenter CAzulFuerte">
        ¿Cómo puede conocer los cambios en este aviso de privacidad?
    </h2>
        <p>
            El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.
        </p>
        <p>
            Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de: Correo electrónico.
        </p>
        <p>
            El procedimiento a través del cual se llevarán a cabo las notificaciones sobre cambios o actualizaciones al presente aviso de privacidad es el siguiente:
        </p>
        <p>
            Actualización de página de Internet
        </p>
        <p>
            Última actualización: 21/05/2025
        </p>
    
    <a href="/deyac-contenedores/" title="Inicio" class="btn secundario">
        Volver a Inicio
    </a>
</section>