<img src="/assets/images/tecnico-deyac.png" alt="Beneficios Deyac" loading="lazy">
<aside>
    <h2 class="CAzulFuerte textCenterMob">
        BENEFICIOS
    </h2>
    <h3 class="CRojoFuerte textCenterMob">
        de ser distribuidor oficial DEYAC
    </h3>
    <article>
        <figure>
            <img width="75px" height="75px" src="/assets/images/beneficioGarantia.png" alt="Garantía" loading="lazy" class="CRojoFuerte">
            <figcaption class="CAzulFuerte">
                Accede a una amplia gama de sistemas de enfriamiento para automóviles y vehículos pesados, con <strong> 12 meses de garantía</strong> en radiadores y otras líneas de productos.
            </figcaption>
        </figure>
        <figure>
            <img width="87px" height="75px" src="/assets/images/beneficioCalidad.png" alt="Calidad" loading="lazy" class="CRojoFuerte">
            <figcaption class="CAzulFuerte">
                Ofrecemos productos de <strong>alta calidad al mejor precio,</strong> asegurando beneficios atractivos para tu negocio.
            </figcaption>
        </figure>
        <figure>
            <img width="75px" height="75px" src="/assets/images/beneficioAsesoria.png" alt="Asesoría" loading="lazy" class="CRojoFuerte">
            <figcaption class="CAzulFuerte">
                <strong>Recibe asesoría técnica especializada y soporte postventa integral,</strong> garantizando la satisfacción de tus clientes.
            </figcaption>
        </figure>
    </article>
</aside>