<article class="BGAmarillo">
    <h2>
        BENEFICIOS
    </h2>
    <h3>
        PARA TÍ
    </h3>
</article>
<article class="beneficios">
    <figure>
        <img src="/assets/images/ENGRANAJE.webp" class="engrane" alt="engrane" loading="lazy" decoding="async" width="151" height="151">
        <img src="/assets/images/CHECK.webp" class="paloma" alt="Paloma" loading="lazy" decoding="async" width="68" height="57">
        <figcaption>
            <p class="CBlanco">
                Nuestras motos eléctricas
                <br>
                requieren 
                <strong>
                    mínimo 
                    <br>
                    mantenimiento
                </strong>
            </p>
        </figcaption>
    </figure>
    <figure class="BGAmarillo">
        <img src="/assets/images/MUNDO-CON-HOJA.webp" alt="Mundo" loading="lazy" decoding="async" width="174" height="151">
        <figcaption>
            <p>
                Contribuye a un
                <br>
                <strong>
                    entorno limpio y 
                    <br>
                    saludable
                </strong> 
            </p>
        </figcaption>
    </figure>
    <figure>
        <img src="/assets/images/E-MOTO.webp" alt="E-Motos" loading="lazy" decoding="async" width="169" height="151">
        <figcaption>
            <p class="CBlanco">
                Con baterías extraíbles,
                <strong>
                    carga
                    <br>
                    tu moto desde cualquier
                    <br>
                    tomacorriente común
                </strong>
            </p>
        </figcaption>
    </figure>
</article>