<figure>
    <figcaption>
        <h2>
            XFX
        </h2>
    </figcaption>
    <img src="/assets/images/XFX.webp" alt="Moto XFX" fetchpriority="high"
     class="motos" width="500" height="333">
</figure>
<a href="/motos-electricas-eficientes/#formulario" class="btn" target="_self">
    PONTE EN CONTACTO
</a>
<div class="RecHor">
    <small class="seis"></small>
    <small class="cinco"></small>
    <small class="cuatro"></small>
    <small class="tres"></small>
    <small class="dos"></small>
    <small class="uno"></small>
</div>
<div class="RecVer">
    <small class="seis"></small>
    <small class="cinco"></small>
    <small class="cuatro"></small>
    <small class="tres"></small>
    <small class="dos"></small>
    <small class="uno"></small>
    <span class="seis"></span>
    <span class="cinco"></span>
    <span class="cuatro"></span>
    <span class="tres"></span>
    <span class="dos"></span>
    <span class="uno"></span>
</div>
<img src="/assets/images/flechas.webp" alt="flechas" loading="eager" class="flechas" width="70" height="47">
<article class="botones" id="carruselMotos" data-endpoint="/api/roue-products">
    <button id="motoIzq" onclick="CarruselRoue.prev()" title="Muestra motos anteriores">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" width="40" height="40">
  <!-- Círculo amarillo de fondo -->
  <circle cx="48" cy="48" r="48" fill="#FFC700"/>
  
  <!-- Flecha blanca girada 180° -->
  <path d="M36 24 L54 48 L36 72 L48 72 L66 48 L48 24 Z" fill="white" transform="rotate(180 48 48)"/>
</svg>

    </button>

    <button id="motoDer" onclick="CarruselRoue.next()" title="Muestra motos sguientes">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" width="40" height="40">
  <!-- Círculo amarillo de fondo -->
  <circle cx="48" cy="48" r="48" fill="#FFC700"/>
  
  <!-- Flecha blanca más gruesa -->
  <path d="M36 24 L54 48 L36 72 L48 72 L66 48 L48 24 Z" fill="white"/>
</svg>

    </button>

</article>