<h1 class="CBlanco">
    CONVIÉRTETE EN DISTRIBUIDOR LÍDER
</h1>
<p class="CBlanco">
    de los sistemas de enfriamiento Deyac en Latinoamérica.
</p>
<p class="CBlanco">
    Calidad garantizada, costos competitivos y un proceso logístico simplificado que conecta directamente desde China a tu negocio.
</p>
<p class="CBlanco">
    <strong>
        - Más de 5.000 productos en nuestro catálogo
    </strong>
</p>
<p class="CBlanco">
    <strong>
        - Cobertura completa para Centroamérica y sudamérica.
    </strong>
</p>
<a href="#formulario" class="btn">
    SOLICITA TU COTIZACIÓN
</a>