<article class="titulos">
    <h1 class="CBlanco textCenter">
        CONVIÉRTETE EN DISTRIBUIDOR OFICIAL
    </h1>
    <p class="CBlanco textCenter">
        ¿Quieres distribuir los productos de mejor calidad en sistemas de enfriamiento?
    </p>
    <p class="CBlanco textCenter">
        <strong>
            Haz crecer tu negocio con DEYAC
        </strong>
    </p>
</article>
<figure class="principal">
    <img src="/assets/images/carrusel3.png" alt="Deyac Distribuidor Oficial" loading="lazy">
    <figure>
        <p class="CBlanco textCenter">
            <strong>
                Con una compra mínima mensual de $25,000 pesos
                <br>
                podrás ofrecer a tus clientes los mejores sistemas de enfriamiento del mercado.
                <br>
                ¡Es hora de expandir tu negocio!
            </strong>
        </p>
    </figure>
</figure>
<article class="info">
    <p class="CBlanco textCenter">
        Ofrece nuestros productos con
        <br>
        Garantía de 12 meses.
    </p>
    <p class="CBlanco textCenter">
        Incrementa
        <br>
        tus ventas.
    </p>
    <p class="CBlanco textCenter">
        Asegura la confianza
        <br>
        de tus clientes.
    </p>
</article>
<a href="#formulario" class="btn" title="Ir a formulario">
    ¡ÚNETE HOY!
</a>
<img src="/assets/images/logoGracias.png" alt="DEYAC" class="izquierda" loading="lazy">
<img src="/assets/images/logoGracias.png" alt="DEYAC" class="derecha" loading="lazy">
