<h2 class="CAmarillo">
    ¿POR QUÉ ELEGIR ROUE PARA TU NEGOCIO?
</h2>
<article class="pasos">
    <div>
        <h3 class="BGAmarillo">
            <strong>1</strong> ALTA<br> RENTABILIDAD
        </h3>
        <p class="CBlanco">
            Únete a una marca en constante crecimiento, que ofrece productos de alta demanda en el competitivo mercado de la movilidad eléctrica, asegurando un sólido retorno de inversión.
        </p>
    </div>
    <div>
        <h3 class="BGAmarillo">
            <strong>2</strong> APOYO<br> INTEGRAL
        </h3>
        <p class="CBlanco">
            Recibe capacitación personalizada y asistencia técnica continua para dominar nuestros productos y ofrecer un servicio excepcional a tus clientes.
        </p>
    </div>
    <div>
        <h3 class="BGAmarillo">
            <strong>3</strong> STOCK<br> GARANTIZADO
        </h3>
        <p class="CBlanco">
            Disfruta de un inventario permanente de refacciones y motocicletas, asegurando operaciones fluidas y sin interrupciones.
        </p>
    </div>
    <div>
        <h3 class="BGAmarillo">
            <strong>4</strong> MARKETING<br> EXCLUSIVO
        </h3>
        <p class="CBlanco">
            Accede a campañas y materiales de marketing creados por expertos para aumentar tu visibilidad y maximizar tus ventas.
        </p>
    </div>
    <div>
        <h3 class="BGAmarillo">
            <strong>5</strong> COMPROMISO CON LA SOSTENIBILIDAD
        </h3>
        <p class="CBlanco">
            Representa una marca que apuesta por el futuro del planeta, atrayendo a un público comprometido con la movilidad limpia y la reducción de su huella de carbono.
        </p>
    </div>
    <div>
        <h3 class="BGAmarillo">
            <strong>6</strong> INNOVACIÓN Y CALIDAD GARANTIZADA
        </h3>
        <p class="CBlanco">
            Ofrece motocicletas eléctricas con tecnología de vanguardia y respaldo de 3 años de garantía, brindando confianza y satisfacción a tus clientes.
        </p>
    </div>
    <div class="largo">
        <h3 class="BGAmarillo">
            <strong>7</strong> EXPANSIÓN DE UN MERCADO EN CRECIMIENTO
        </h3>
        <p class="CBlanco">
            Aprovecha el auge global de la movilidad eléctrica y expande tu negocio en un sector con enormes oportunidades de crecimiento y proyección.
        </p>
    </div>
    <div class="RecHor">
        <small class="seis"></small>
        <small class="cinco"></small>
        <small class="cuatro"></small>
        <small class="tres"></small>
        <small class="dos"></small>
        <small class="uno"></small>
    </div>
    <div class="RecVer">
        <small class="seis"></small>
        <small class="cinco"></small>
        <small class="cuatro"></small>
        <small class="tres"></small>
        <small class="dos"></small>
        <small class="uno"></small>
        <span class="seis"></span>
        <span class="cinco"></span>
        <span class="cuatro"></span>
        <span class="tres"></span>
        <span class="dos"></span>
        <span class="uno"></span>
    </div>

</article>
<article class="impulsa">
    <h2 class="CAmarillo">
        "Una alianza para impulsar tu éxito"
    </h2>
    <p class="CBlanco">
        En ROUE, no solo ofrecemos motocicletas, sino una colaboración estratégica diseñada para hacer crecer tu negocio de forma sostenible y rentable. 
    <br>
        Con nuestros programas exclusivos para distribuidores, tendrás acceso a materiales de marketing especializados, 
        formación técnica avanzada y un soporte personalizado que te ayudará a maximizar tus resultados.
    </p>
</article>
