<details>
  <summary><span>¿Qué soporte brinda Deyac a sus distribuidores?</span></summary>
  <ol>
    <li>Capacitación: Programa de capacitación constante.</li>
    <li>Asistencia técnica: Soporte especializado y visitas técnicas esporádicas.</li>
    <li>Marketing: Campañas publicitarias y material promocional.</li>
    <li>Logística: Entregas rápidas con variedad de producto.</li>
    <li>Soporte comercial: Asesoramiento y promociones.</li>
    <li>Servicio al distribuidor: Atención personalizada y gestión de garantías.</li>
    <li>Innovación: Actualización sobre nuevos productos y feedback continuo.</li>
  </ol>
</details>

<details>
  <summary><span>¿Qué opciones de contenedores y volúmenes de importación están disponibles?</span></summary>
  <p>Puedes realizar compras por contenedor completo, ya sea de 20 o 40 pies, según tus necesidades. Esto te permite optimizar costos y garantizar la disponibilidad de producto.</p>
</details>

<details>
  <summary><span>¿Cuánto lleva el proceso de importación y entrega?</span></summary>
  <p>El tiempo del proceso de importación y entrega puede variar dependiendo de varios factores, como la línea o variedad del producto, el país destino, la logística y los trámites aduaneros. Sin embargo, en general, el proceso suele llevar entre 90 y 120 días aproximadamente.</p>
</details>

<details>
  <summary><span>¿Deyac ofrece exclusividad territorial para los distribuidores?</span></summary>
  <p>Sí, siempre y cuando se cumplan los objetivos de venta y se mantenga un compromiso con la marca. Esta exclusividad permite al distribuidor ser el único representante de Deyac en su área, lo que puede ser una ventaja competitiva significativa.</p>
</details>

<details>
  <summary><span>¿Cuál es la cantidad mínima de pedido?</span></summary>
  <p>La cantidad mínima es de 1 contenedor (20 o 40 pies). Para conocer la cantidad exacta y los detalles específicos de tu pedido, te recomendamos contactar directamente al equipo de Deyac.</p>
</details>

<details>
  <summary><span>¿Proporciona refacciones y soporte postventa para los distribuidores?</span></summary>
  <p>Sí, en Deyac contamos con un sólido soporte postventa, que incluye atención personalizada, asistencia técnica y garantías para asegurar el óptimo funcionamiento de tu negocio.</p>
</details>

<details>
  <summary><span>¿Qué ocurre en caso de problemas técnicos o necesidades de reparaciones?</span></summary>
  <p>Disponemos de varias opciones para poder apoyarte en caso de tener algún inconveniente en relación a nuestros productos.</p>
</details>

<details>
  <summary><span>¿Cómo funciona la política de devolución en caso de daños en el envío?</span></summary>
  <p>En caso de recibir piezas dañadas, se haría el cambio por una nueva. De no ser posible, por medio de una nota de crédito.</p>
</details>

<details>
  <summary><span>¿Cuál es la ventaja de distribuir Deyac frente a otras marcas?</span></summary>
  <ol>
    <li>Accede a una amplia gama de sistemas de enfriamiento para automóviles y vehículos pesados, con 12 meses de garantía en radiadores y otras líneas de productos.</li>
    <li>Ofrecemos productos de alta calidad al mejor precio, asegurando beneficios atractivos para tu negocio.</li>
    <li>Recibe asesoría técnica especializada y soporte postventa integral, garantizando la satisfacción de tus clientes.</li>
    <li>+ de 38 años como proveedor líder de sistemas de enfriamiento.</li>
    <li>Amplio stock, lo que asegura tiempos de entrega eficiente y una amplia variedad de productos.</li>
    <li>Oportunidad de ser único en tu zona.</li>
    <li>Accedes al área de innovación en el cual nos encargamos de mantener nuestro catálogo actualizado año con año.</li>
  </ol>
</details>

<details>
  <summary><span>¿Ofrecen algún tipo de financiamiento o plan de pago para nuevos distribuidores?</span></summary>
  <p>A medida que fortalecemos nuestra relación comercial, podrás acceder a mayores facilidades, como crédito y/o financiamiento, diseñados para apoyarte en la expansión de tu negocio dentro de tu área de influencia y en cualquier territorio donde decidas ampliar tus operaciones.</p>
</details>
