<nav aria-label="Pie de página">
  <a target="_self" href="/motos-electricas-eficientes" title="Home">
    <img width="130px" src="/assets/images/logonegro.webp" alt="ROUE MOTOS" loading="lazy" />
  </a>
  <div class="redesSociales">
    <ul>
      <li>
        <a target="_blank" href="https://www.facebook.com/rouemotos/" title="Facebook">
          <img width="24" height="24" alt="Facebook" src="/assets/images/facebook.webp" loading="lazy">
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/rouemotos" title="Instagram">
          <img width="24" height="24" alt="Instagram" src="/assets/images/instagram.webp" loading="lazy">
        </a>
      </li>
    </ul>
  </div>
</nav>
<small>©2025 ROUE MOTOS - ALL RIGHTS RESERVED</small>