<h2 class="textCenter CAzulFuerte">
    GAMA COMPLETA DE SOLUCIONES DE ENFRIAMIENTO
</h2>
<h3 class="CRojoFuerte textCenter">
    Desde radiadores hasta enfriadores, Deyac ofrece un catálogo con más de 5.000 productos para cubrir todas las necesidades del mercado automotriz.
</h3>

<article id="carruselProductos">
    <div>
        <img src="/assets/images/carrusel1.webp" alt="Deyac" loading="lazy" width="200px">
        <img src="/assets/images/carrusel2.webp" alt="Deyac" loading="lazy" width="200px">
        <img src="/assets/images/carrusel3.webp" alt="Deyac" loading="lazy" width="200px">
        <img src="/assets/images/carrusel4.webp" alt="Deyac" loading="lazy" width="200px">
        <img src="/assets/images/carrusel5.webp" alt="Deyac" loading="lazy" width="200px">
    </div>
</article>