<nav aria-label="Menú principal del sitio">
  <a target="_self" href="/motos-electricas-eficientes" title="Home">
    <img src="/assets/images/logonegro.webp" alt="Deyac Contenedores" loading="lazy" width="150" height="43.7" />
  </a>
</nav>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQMPH73D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PV5LPGTD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->