<nav class="BGBlanco displayFlexDesk directionRowDesk displayFlexMobile directionColumMobile navHeader" aria-label="Menú principal del sitio">
  <a target="_self" href="/conviertete-en-distribuidor" title="Home" class="CAzulFuerte">
    <img src="/assets/images/logo.webp" alt="Deyac Contenedores" loading="lazy" width="200px" />
  </a>
</nav>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQMPH73D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PV5LPGTD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->