<figure class="displayFlex marginDesk48 marginMobile48">
    <img src="/assets/images/lideraDEYAC.webp" alt="Radiadores DEYAC" loading="lazy">
    <figcaption>
        <article>
            <h2 class="textCenter CAzulFuerte">
                LIDERA EL MERCADO
            </h2>
            <h3 class="textCenter CRojoFuerte">
                Lidera el mercado de Sistemas de Enfriamiento Automotriz con Deyac
            </h3>
        </article>
        <figure>
            <img src="/assets/images/calidad.webp" class="CRojoFuerte" alt="Calidad" loading="lazy" width="40px" height="40px">
            <figcaption>
            <p class="CAzulFuerte textCenterMob"><strong>
                Calidad y compatibilidad garantizadas:
            </strong> nuestros productos están diseñados para el 100% de las marcas automotrices en América Latina y América del Norte.</p>
            </figcaption>
        </figure>
        <figure>
            <img src="/assets/images/flexibilidad.webp" class="CRojoFuerte" alt="Flexibilidad" loading="lazy" width="40px" height="40px">
            <figcaption>
            <p class="CAzulFuerte textCenterMob"><strong>
                Flexibilidad de importación:
            </strong> opción de importación en contenedores de 20 o 40 pies, llenos o compartidos, según tu capacidad de demanda.</p></figcaption>
        </figure>
        <figure>
            <img src="/assets/images/cobertura.webp" class="CRojoFuerte" alt="Cobertura" loading="lazy" width="40px" height="40px">
            <figcaption>
            <p class="CAzulFuerte textCenterMob"><strong>
                Cobertura total:
            </strong> productos para todas las marcas y modelos automotrices y de equipo pesado en tu región.</p>
            </figcaption>
        </figure>
        <figure>
            <img src="/assets/images/disponibilidad.webp" class="CRojoFuerte" alt="Disponibilidad" loading="lazy" width="40px" height="40px">
            <figcaption>
            <p class="CAzulFuerte textCenterMob"><strong>
                Disponibilidad del 95% de los sistemas de enfriamiento del mercado
            </strong></p></figcaption>
        </figure>
        <figure>
            <img src="/assets/images/certificaciones.webp" class="CRojoFuerte" alt="Certificaciones" loading="lazy" width="40px" height="40px">
            <figcaption>
                <p class="CAzulFuerte textCenterMob"><strong>
                    Certificaciones internacionales:
                </strong> cumplimos con la certificación IATF 16949, asegurando la más alta calidad.</p>
            </figcaption>
        </figure>
        <figure>
            <img src="/assets/images/soporte.webp" class="CRojoFuerte" alt="Soporte" loading="lazy" width="40px" height="40px">
            <figcaption>
            <p class="CAzulFuerte textCenterMob"><strong>
                Soporte integral de marca:
            </strong> soporte logístico y técnico para asegurar la satisfacción del cliente final.</p></figcaption>
        </figure>
    </figcaption>
</figure>