<article class="titulos">
    <h2 class="CAzulBajo textCenter">
        Descubre nuestros
    </h2>
    <h2 class="CRojoFuerte textCenter">
        NUEVOS PRODUCTOS
    </h2>
</article>
<article class="productosNuevos">
    <figure class="card">
        <img width="auto" height="150px" src="/assets/images/TEBFL00063CTCS.webp" alt="TEBFL00063CTCS" loading="lazy">
        <h3 class="textCenter CBlanco BGRojoFuerte">
            Nuevo Producto
        </h3>
        <p class="CRojoFuerte textCenter">
            TEBFL00063CTCS
        </p>
        <p class="textCenter CAzulFuerte">
            Freightliner Cascadia 18-22
        </p>
    </figure>
    <figure class="card">
        <img width="auto" height="150px" src="/assets/images/DFL389TA-PA.webp" alt="DFL389TA PA" loading="lazy">
        <h3 class="textCenter CBlanco BGRojoFuerte">
            Nuevo Producto
        </h3>
        <p class="CRojoFuerte textCenter">
            DFL389TA PA
        </p>
        <p class="textCenter CAzulFuerte">
            Tractocamión Freightliner Cascadia Evolution 17-23 Tomas Lineales
        </p>
    </figure>
    <figure class="card">
        <img width="auto" height="150px" src="/assets/images/COAGM88378CD.webp" alt="COAGM88378CD" loading="lazy">
        <h3 class="textCenter CBlanco BGRojoFuerte">
            Nuevo Producto
        </h3>
        <p class="CRojoFuerte textCenter">
            COAGM88378CD
        </p>
        <p class="textCenter CAzulFuerte">
            Chevrolet Onix 19-21
        </p>
    </figure>
    <figure class="card">
        <img width="auto" height="150px" src="/assets/images/RAADO7863132S.webp" alt="RAADO7863132S" loading="lazy">
        <h3 class="textCenter CBlanco BGRojoFuerte">
            Nuevo Producto
        </h3>
        <p class="CRojoFuerte textCenter">
            RAADO7863132S
        </p>
        <p class="textCenter CAzulFuerte">
            Jeep Compass 18-21
        </p>
    </figure>
    <figure class="card">
        <img width="auto" height="150px" src="/assets/images/COAJA02500CD.webp" alt="COAJA02500CD" loading="lazy">
        <h3 class="textCenter CBlanco BGRojoFuerte">
            Nuevo Producto
        </h3>
        <p class="CRojoFuerte textCenter">
            COAJA02500CD
        </p>
        <p class="textCenter CAzulFuerte">
            Jac SEI4 19-22
        </p>
    </figure>
</article>