<article class="textos textCenterMob">
    <h2 class="CBlanco">
        ¿POR QUÉ ELEGIRNOS?
    </h2>
    <hr class="CRojoFuerte BGRojoFuerte">
    <div class="textCenterMob directionColumMobile">
        <h2 class="CBlanco">
            +38
        </h2>
        <p class="CBlanco">
            años como proveedor líder de sistemas de enfriamiento.
        </p>
    </div>
    <div class="directionColumMobile">
        <h2 class="CBlanco amplio">
            AMPLIO
            <br>
            STOCK
        </h2>
        <p class="CBlanco">
            lo que asegura tiempos de entrega eficiente y una amplia variedad de productos.
        </p>
    </div>
    <a href="#formulario" class="btn" title="Ir a formulario">
        ¡ÚNETE HOY!
    </a>
</article>
<article class="imagenes">
    <img src="/assets/images/logoDeyac.webp" alt="DEYAC" loading="lazy" class="logo">
    <img src="/assets/images/almacen.webp" alt="Almacén DEYAC" loading="lazy" class="almacen">
</article>