<h1>
    <span class="CAmarillo">
        ÚNETE A LA REVOLUCIÓN ELÉCTRICA
    </span>
    <span class="CBlanco">
        DE ROUE Y AUMENTA TUS VENTAS
    </span>
</h1>
<p class="CBlanco">
    ROUE Motos ofrece una oportunidad única para concesionarios y distribuidores que buscan expandir su catálogo con una opción sostenible y de calidad. Con más empresas y consumidores eligiendo la movilidad eléctrica, nuestras motos son la solución ideal para potenciar tus ventas.
</p>
<img src="/assets/images/flechas.webp" alt="flechas" loading="eager" class="flechas" width="70" height="47">