<section id="thankyou" class="BGNegro">
    <article>
        <h1 id="tituloGracias" class="textCenter CBlanco">
            ¡GRACIAS!
        </h1>
        <h2 id="textoGracias" class="CBlanco textCenter fontSizeDesk30Mob24">
            Su formulario fue registrado y un asesor profesional se pondrá en contacto contigo lo antes posible.
        </h2>
    </article>
    <hr class="CRojoFuerte">
    <article class="home">
        <a href="/conviertete-en-distribuidor" class="btn">
            Regresar a inicio
        </a>
    </article>
    <img src="/assets/images/logoGracias.png" alt="Deyac dice, muchas gracias" loading="lazy">
</section>