<section id="thankyou" class="BGNegro">
    <article>
        <h1 id="tituloGracias" class="textCenter CBlanco">
            ¡GRACIAS!
        </h1>
        <h2 id="textoGracias" class="CBlanco textCenter fontSizeDesk30Mob24">
            Su formulario fue registrado y un asesor profesional se pondrá en contacto contigo lo antes posible.
        </h2>
    </article>
    <article class="home">
        <a href="/motos-electricas-eficientes" class="btn">
            Regresar a inicio
        </a>
    </article>
    <img src="/assets/images/logoroue.webp" alt="Deyac dice, muchas gracias" loading="eager" fetchpriority="high" decoding="async" width="100px" height="100px">
    
</section>