<figure>
    <img src="/assets/images/GARANTIA-FOTOMONTAJE-ok.webp" alt="Tranquilidad Garantizada" loading="lazy" decoding="async" width="525" height="356">
    <figcaption>
        <h2>
            TRANQUILIDAD GARANTIZADA
            <strong>
                POR 3 AÑOS
            </strong>
        </h2>
        <p>
            En ROUE tu satisfacción y confianza son nuestra prioridad. Por eso 
            <strong>
            te ofrecemos una garantía extendida de 3 años en todas nuestras motos eléctricas.
            </strong>
        </p>
        <ul>
            <li>
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"></circle>
            <polyline points="12 6 12 12 16 14"></polyline>
            </svg>
  Respuesta rápida y eficiente ante cualquier eventualidad.
            </li>
            <li>
                <img alt="$" src="/assets/images/pesos.png" width="24" height="24" loading="lazy">
                Sin costos adicionales, todo cubierto.
            </li>
        </ul>
    </figcaption>
</figure>