<article>
    <figure>
        <figcaption class="BGAmarillo">
            <h2>
               <span class="CNegro">
                    VENTAJAS
               </span>
               <br>
               <span class="CBlanco">
                    DE NUESTRAS MOTOS ELÉCTRICAS
               </span>
            </h2>
        </figcaption>
        <img src="/assets/images/MOTO-TALARIA-1-.webp" alt="Ventajas de nuestras motos eléctricas" loading="lazy" decoding="async" width="960" height="auto" />
    </figure>
</article>
<aside>
    <ul>
        <li>
            <h3 class="CAmarillo">
                Alta potencia y rendimiento:
            </h3>
            <p class="CBlanco">
                Velocidad máxima de 92km/h y torque instantáneo, nuestras motos eléctricas garantizan un rendimiento óptimo para movilidad urbana.
            </p>
        </li>
        <li>
            <h3 class="CAmarillo">
                Autonomía y carga rápida:
            </h3>
            <p class="CBlanco">
                Carga rápida en solo 4.5 horas, recorre hasta 110km con nuestras motos eléctricas.
            </p>
        </li>
        <li>
            <h3 class="CAmarillo">
                Tecnología avanzada:
            </h3>
            <p class="CBlanco">
                Batería de Ion de Litio y frenos de disco en ambas ruedas. Nuestras motos eléctricas priorizan tu seguridad.
            </p>
        </li>
    </ul>
    <div>
        <a href="/motos-electricas-eficientes/#formulario" class="btn" target="_self">
            QUIERO MÁS INFO
            <div class="RecVer">
                <small class="seis"></small>
                <small class="cinco"></small>
                <small class="cuatro"></small>
                <small class="tres"></small>
                <small class="dos"></small>
                <small class="uno"></small>
                <span class="seis"></span>
                <span class="cinco"></span>
                <span class="cuatro"></span>
                <span class="tres"></span>
                <span class="dos"></span>
                <span class="uno"></span>
            </div>
        </a>
    </div>
</aside>