

a.btn, button{
    color: white;
    background-color: var(--rojoFuerte);
}

a.btn:hover, button:hover{
    background-color: white;
    cursor: pointer;
    color: var(--rojoFuerte);
}

a.btn.secundario, button.secundario{
    background-color: var(--azulFuerte);
    color: white;
}
a.btn.secundario:hover, button.secundario:hover{
    border: 1px solid var(--azulFuerte);
    background-color: white;
    color: var(--azulFuerte);
}

button:disabled, button.secundario:disabled, button.secundario:disabled:hover, button:disabled:hover,
a.deshabilitado, a.btn.deshabilitado.secundario, a.deshabilitado:hover, a.btn.secundario.deshabilitado:hover{
    background-color: var(--gris);
    color: var(--grisBajo);
    border: none;
}
button:disabled, button.secundario:disabled, button.secundario:disabled:hover, button:disabled:hover,
a.deshabilitado, a.btn.deshabilitado.secundario, a.deshabilitado:hover, a.btn.secundario.deshabilitado:hover, input:disabled, textarea:disabled, select:disabled, label.disabled{
    cursor: no-drop;
}
label, input, textarea, select, option{
    color: var(--azulFuerte);
}
input, textarea, select, #formulario details{
    border-color: var(--negroFuerte);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

input:focus, textarea:focus, select:focus{
    background-color: var(--azulAlert2);
    outline-color: var(--azulAlert1);
    border: 1px var(--azulAlert1);
    outline-width: 1px;
    outline-style: solid;
}

input:hover, textarea:hover, select:hover{
    border: 1px var(--azulFuerte);
    outline-color: var(--azulFuerte);
    outline-width: 2px;
    outline-style: solid;
    transition: 0s;
}
input:disabled, textarea:disabled, select:disabled,
input:disabled:hover, textarea:disabled:hover, select:disabled:hover{
    background-color: var(--grisBajo);
    outline-color: var(--gris);
    border: 1px var(--gris);
    color: var(--gris);
    outline-width: 1px;
    outline-style: solid;
}
label.disabled{
    color: var(--gris);
}

::placeholder{
    color:var(--gris)
}

.card {
    background: white;
    filter: drop-shadow(-4px 0px 21px var(--grisBajo));
}
.card:hover {
    background: white;
    filter: drop-shadow(4px 0px 4px var(--grisBajo));
}
form.enviado input:valid, form.enviado select:valid, form.enviado textarea:valid {
    border: 2px solid var(--verdeFuerte);
    background-color: var(--verdeBajo);
}

form.enviado input:invalid, form.enviado select:invalid, form.enviado textarea:invalid {
    border: 2px solid var(--rojoFuerte);
    background-color: var(--rojoBajo);
}

/*   OK OK OK OK OK OK OK OK OK OK OK OK OK   */





section{
    max-width: 1440px;
}


/* 🎨 ROJO */
.BGRojoFuerte { background-color: var(--rojoFuerte); }
.BGRojoBajo { background-color: var(--rojoBajo); }
.CRojoFuerte { color: var(--rojoFuerte); }
.CRojoBajo { color: var(--rojoBajo); }

/* 🎨 AZUL */
.BGAzulFuerte { background-color: var(--azulFuerte); }
.BGAzulBajo { background-color: var(--azulBajo); }
.CAzulFuerte { color: var(--azulFuerte); }
.CAzulBajo { color: var(--azulBajo); }

/* 🎨 GRIS */
.BGGris { background-color: var(--gris); }
.BGGrisBajo { background-color: var(--grisBajo); }
.CGris { color: var(--gris); }
.CGrisBajo { color: var(--grisBajo); }

/* 🎨 NEGRO */
.BGNegroFuerte { background-color: var(--negroFuerte); }
.BGNegroBajo { background-color: var(--negroBajo); }
.CNegroFuerte { color: var(--negroFuerte); }
.CNegroBajo { color: var(--negroBajo); }

/* 🎨 AZUL ALERTA */
.BGAzulAlert1 { background-color: var(--azulAlert1); }
.BGAzulAlert2 { background-color: var(--azulAlert2); }
.CAzulAlert1 { color: var(--azulAlert1); }
.CAzulAlert2 { color: var(--azulAlert2); }

/* 🎨 VERDE */
.BGVerdeFuerte { background-color: var(--verdeFuerte); }
.BGVerdeBajo { background-color: var(--verdeBajo); }
.CVerdeFuerte { color: var(--verdeFuerte); }
.CVerdeBajo { color: var(--verdeBajo); }

/* 🎨 AMARILLO */
.BGAmarilloFuerte { background-color: var(--amarilloFuerte); }
.BGAmarilloBajo { background-color: var(--amarilloBajo); }
.CAmarilloFuerte { color: var(--amarilloFuerte); }
.CAmarilloBajo { color: var(--amarilloBajo); }

/* 🎨 NARANJA */
.BGNaranjaFuerte { background-color: var(--naranjaFuerte); }
.BGNaranjaBajo { background-color: var(--naranjaBajo); }
.CNaranjaFuerte { color: var(--naranjaFuerte); }
.CNaranjaBajo { color: var(--naranjaBajo); }


.CBlanco{
    color: white;
}

:root{
  --rojoFuerte: #f70000;
  --rojoBajo: #ffe8e7;

  --azulFuerte: #262262;
  --azulBajo: #2B3990;

  --gris: #A8A8A9;
  --grisBajo: #F1F1F1;
  
  --negroFuerte: #000000;
  --negroBajo: #231F20;

  --azulAlert1: #005080;
  --azulAlert2: #e9f4ff;

  --verdeFuerte: #005531;
  --verdeBajo: #c1ffe0;

  --amarilloFuerte: #ffec00;
  --amarilloBajo: #fffad8;
  --naranjaFuerte: #ffba00;
  --naranjaBajo: #fff1e1;
}

body{
    color: var(--negroBajo);
}

*{
    font-family: "Montserrat", sans-serif;
    line-height: normal;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
    font-size: 16px;
}

*:hover{
    transition: 0.5s;
}


li::marker{
  content: none;
}



/* Font Family de la Marca */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');